@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page Transition Animations */
.page-transition.fadeIn {
	animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
